# Ignora tudo
*

# Mas não ignora os arquivos .xml no diretório raiz
!*.xml
!*.md

# Também não ignora pastas (necessário se quiser encontrar arquivos .xml dentro delas)
!*/

# E não ignora arquivos .xml dentro de subpastas
!**/*.xml


